.wrapper{
    width: 100%;
    height: 100vh;
}   
.title{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin: 0 auto;
    top: 200px;
    color:black;
    margin-bottom: 100px;
    font-size: 100px;
}
.todos{
    width:2500px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
}
.todo{
    text-align: left;
    padding: 10px;
    list-style:none;
    height: 80px;
    width: 2500px;
    box-shadow: 10px 10px 10px 10px black;
    border-radius: 5px;
    font-size: 60px;
    margin-bottom: 30px;
    cursor: pointer;
}
.done{
    text-decoration:line-through ;
}
.delete{
    position: absolute;
    right: 10px;
    width: 65px;
    height: 65px;
    cursor: pointer;
}
.info{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 10px solid black;
    padding: 10px;
    width: 2464px;
    height: 80px;
    font-size: 60px;
}
.btnn{
    margin-top:20px;
    margin-left: 2100px;
    outline: none;
    border:5px solid black;
    font-size: 60px;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    cursor: pointer;
    background-color: black;
    color:white;
}
.home{
    margin-top:30px;
    margin-left: 2100px;
    outline: none;
    border:5px solid black;
    font-size: 60px;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    cursor: pointer;
    background-color: black;
    color:white;
    position: relative;
    text-align: center;
}
.gohome{
    text-decoration: none;
    list-style-type: none;
    color: white; 
    position: relative; 
    top: 15px;
}
